.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #344151;
    gap: 10px ;
}

.heading-text{
    color: #0398d4;
    font-size: 20px;
    font-size: medium;
}

.counter-container{
    background-color: white;
    display: flex;
    font-size: 25px;
    color: #344151;
    border-radius: 5px;
    gap: 12px;
}

.minus-class{
    border-right: 2px solid black;
    padding-right: 5px;
    border-color: #bfbfbf;
}


.counter-text{
    font-weight: bold ;
    
}
.plus-class{
    border-left: 2px solid black;
    padding-left: 5px;
    border-color: #bfbfbf;
}